.heading {
    color: $text-main;
    font-size: 18px;
    text-align: left;
    margin-top: 6px;
    margin-bottom: 16px;
}

.heading-small {
    color: $text-main;
    font-size: 14px;
    text-align: left;
    margin-bottom: 6px;
}

span {
    display: block;
}

.el-notification {
    background-color: $bg-dark-third;
    width: 250px;
    border-color: $bg-dark-third;
    align-items: center;

    .el-notification__title {
        color: $text-main;
        font-family: Avenir, Helvetica, Arial, sans-serif;
        font-weight: unset;
    }
}